<!DOCTYPE html>
<html lang="en">
<!-- This is the document implement for AMI mockup  -->
<head>
	<title>AMI Campaigns</title>
	<!-- Include bootstrap css -->
	<link rel="stylesheet" href="../public/stylesheet/bootstrap.css">
	<!-- Include customize css -->
	<link rel="stylesheet" href="../public/stylesheet/campaigns.css">

</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" datat-target="#navbar-top">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-top">
		    	<ul class="nav navbar-nav" id="navbar-control">
		    		<li page-name="campaign" class="active"><a href="#Campaign">Campaign</a></li>
		    		<li page-name="canvas"><a href="#Canvas">Canvas</a></li>
		    		<li page-name="shop"><a href="#Shop">Shop</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Account</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
		    </div>
		    <!-- /.navbar-collapse -->				
		</div>
	</nav>

	<div class="container" id="main_info">
		<div class="row">
			<div class="col-md-8 col-xs-6"><h1>digbil</h1></div>
			<div class="col-md-4 col-xs-6">
				<div class="header_module">
					<div class="header_center_module">
						<button type="button" class="btn btn-success pull-right">
							<span class="glyphicon glyphicon-book"></span>
							&nbsp;Start a Campaign
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-1 select_bar" id="select_bar">
					<div class="selection">
						<div class="selection_icon"><span class="glyphicon glyphicon-dashboard"></span></div>
						<div class="selection_title">Dashboard</div>		
					</div>
					<div class="selection selection_active">
						<div class="selection_icon"><span class="glyphicon glyphicon-tasks"></span></div>
						<div class="selection_title">Campaigns</div>
					</div>
					<div class="selection">
						<div class="selection_icon"><span class="glyphicon glyphicon-cloud"></span></div>
						<div class="selection_title">Library</div>
					</div>
					<div class="selection">
						<div class="selection_icon"><span class="glyphicon glyphicon-usd"></span></div>
						<div class="selection_title">Transaction</div>
					</div>
					<div class="selection">
						<div class="selection_icon"><span class="glyphicon glyphicon-envelope"></span></div>
						<div class="selection_title">Hello</div>
					</div>
				</div>
				<div class="col-md-10 select_content">
				</div>
			</div>
		</div>
	</div>

	<footer></footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/javascript/bootstrap.js"></script>
    <!-- Public javascript -->
	<script src="../public/javascript/campaigns.js"></script>

</body>
</html>